
@import url('./panel.css');
@import url('./button.css');

.app-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  grid-area: header;
  align-content: center;
  text-align: center;
}