@import '~bootstrap/scss/bootstrap.scss'; // sass/css filepaths must be relative to entry file, can't use 'url(..)'
@import './panel.scss';
@import './layout.scss';
@import './button.scss';

.app-view {
  /*
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
  */
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  /* grid-area: header; */
  align-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.ace-tm {
  background-color: rgba(#205fab, 0.1) !important;
}