@import '~bootstrap/scss/bootstrap.scss'; // sass/css filepaths must be relative to entry file, can't use 'url(..)'
@import url('./panel.scss');
@import url('./button.scss');

.app-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  grid-area: header;
  align-content: center;
  text-align: center;
}