.dropdown {
  display: inline-flex;
}

.custom-btn {
  background-color: white;
}

button.dropdown-toggle {
  background-color: white;
  color: #205fab;
  border: 1px solid #205fab;
  padding: 0px 4px 0px 4px;
  height: 2rem;
  // &:hover {
  //   background-color: rgba(#205fab, 0.5);
  // }
  // &:active:checked:focus {
  //   background-color: black;
  //   box-shadow: rgba(black, 50%);
  // }
}

.btn {
  color: #205fab;
  border-color: #205fab;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}

.btn-check:checked + 
.btn-primary, .btn-check:active + 
.btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #205fab;
    border-color: #205fab;
}

.btn-check:checked + 
.btn-primary:focus, .btn-check:active + 
.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(#205fab, 50%);
}


div.dropdown-header {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}





/*

.btn-check:checked + 
.btn-primary, .btn-check:active + 
.btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}


  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
*/