.dropdown {
  display: inline-flex;
}

button.dropdown-toggle {
  background-color: white;
  color: #205fab;
  border: 1px solid cyan;
  padding: 0.3rem;
  &:hover {
    background-color: rgba(#205fab, 0.5);
  }
  &:active {

  }
}