@media only screen and (min-width:700px) and (min-height:550px) {
  input.submit-btn.btn.btn-outline-primary {
    flex: 1;
    width: fit-content;
    min-width: 70px;
    max-width: 200px;
  }
}

@media only screen and (max-width:500px) and (max-height:700px) {
  input.submit-btn.btn.btn-outline-primary {
    width: 100%;
  }
}

.dropdown {
  // display: inline-flex;
}

.custom-btn {
  background-color: white;
}

button.dropdown-toggle {
  background-color: white;
  color: #205fab;
  border: 1px solid #205fab;
  padding: 0px 8px 0px 8px;
  line-height: 1;
  height: 32px;
}

div.dropdown-menu.show {
  min-width: 7rem !important;
  max-width: 75% !important;
}

div.btn-group {
  align-items: center;
  margin-bottom: 0.5rem;
  .toggle-group-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    color: #6c757d;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-transform: capitalize;
  }
  label.btn.btn-primary {
    background-color: white;
    color: #205fab;
    border: 1px solid #205fab;
    height: 32px !important;
    vertical-align: middle;
    input {
      display: none;
    }
  }
}

.submit-btn-tooltip {
  div.tooltip-inner {
    background-color: #205fab;
  }
}

input.submit-btn.btn.btn-outline-primary {
  // flex: 1;
  text-align: center;
  // width: fit-content;
  height: fit-content;
  &.translate-highlighted {
    animation: pulse-translate;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @keyframes pulse-translate {
      from {
        border: 1px solid;
        border-color: rgba(#205fab, 0.5);
      }
      to {
        border: 5px solid;
        border-color: rgba(#205fab, 0.5);
      }
    }
  }
}

div.dropdown-header {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  text-transform: capitalize;
}