$primary: #205fab;

#navbar {
  background-color: white !important;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid;
  border-bottom-color: black;
}

#brand {
  color: $primary !important;
  padding-left: 3px;
  &:hover {
    color: lightblue !important;
    text-decoration: underline;
  }
}

header div.container {
  padding: 0px;
}

a.nav-link {
  color: $primary !important;
  &:hover {
    color: lightblue !important;
    text-decoration: underline;
  }
}

footer {
  justify-content: center;
  text-align: center;
  min-width: 100%;
  display: inline-block;
}

// @media only screen and (min-width: 500px) {
//   display: none;
// }

/* 

primary: #205fab 
#26c7c4
*/