$primary: #205fab;

#brand {
  color: $primary !important;
  padding-left: 3px;
  &:hover {
    text-decoration: underline;
  }
}

#navbar {
  background-color: white !important;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid;
  border-bottom-color: black;
}

a.nav-link {
  color: $primary !important;
  &:hover {
    text-decoration: underline;
  }
}


footer {
  justify-content: center;
  text-align: center;
  min-width: 100%;
  display: inline-block;
}


/* 

primary: #205fab 
#26c7c4
*/