.panel {
  /*
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";
  grid-column-gap: 10px;
  */
  border: 1px solid #000000;
  border-radius: 1em;
  justify-content: space-evenly;
  min-height: 20em;
}

form {
  margin: 1em;
}

.form-label {
  display: inline-flex;
  font-family: $font-family;
  align-content: center;
  text-align: center;
}

textarea {
  /* grid-area: body; */
  font-family: $font-family;
  font-size: large;
  margin: 1em;
}

p {
  font-family: inherit;
  font-size: large;
  margin: 1em;
}
