$min-height: 20px;
$height: 250px;
$min-width: 150px;
$width: 510px;

.panel {
  /*
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";
  grid-column-gap: 10px;
  */
  // display: inline-flex;
  border: 1px solid #000000;
  border-radius: 1em;
  // justify-content: space-evenly;
  min-height: 0.5rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

.panel-views.row {
  // display: inline-flex;
  flex-wrap: wrap;
  // vertical-align: middle;
  // align-items: center;
  // justify-content: center;
  // .row { input.submit-btn {} }
}

.column_1.col {
  flex: 1; // determines how .col adjusts to div.panel-views flexbox
  // display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  // margin-right: 10px;
  min-width: 150px;
  max-width: 510px;
  min-height: $min-height;
  height: fit-content;
  margin-right: 0px;
  margin-left: 0px;
  div.controls.panel.container {
    border: 0px;
    padding: 0px;
    form.controls-form {
      .row {
        margin: 0px;
        .col {
          padding-left: 0px;
          padding-right: 0px;
          label.form-label {
            div.dropdown {
              display: inline-flex;
            }
          }
        }
      }
    }
  }
  div.editor.panel.container {
    display: flex;
    min-height: $min-height;
    height: $height;
    min-width: $min-width;
    max-width: $width;
    padding: 32px 32px 32px 32px;
    textarea {
      flex: 1;
      border: 0px;
    }
    &.editor-highlighted {
      // border-color: blue;
      animation: pulse-editor;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      // animation-fill-mode: before;
      animation-direction: alternate;
      @keyframes pulse-editor {
        from {
          border: 1px solid;
          border-color: rgba(#205fab, 0.5);
        }
        to {
          // transform: scale(1.2);
          // border-radius: 10px;
          border: 10px solid;
          border-color: rgba(#205fab, 0.5);
        }
      }
    }
  }
}

.column_2.col {
  // inherits --bs-gutter-x: 1.5rem from div.panel-views.row
  // --bs-gutter-x: 0rem;
  flex: 0 1 0; // determines how .col adjusts to div.panel-views flexbox
  min-height: $min-height;
  height: $height;
  margin: 45px 10px 45px 10px;
  .row { // row must have height for submit-btn to align center
    height: inherit;
  }
}

.column_3.col {
  display: inline-block;
  flex: 1;
  padding-left: 0px;
  padding-right: 0px;
  min-height: $min-height;
  height: fit-content;
  .row { // row must have height for align-self to work
    // height: fit-content;
    margin-right: 0px;
    margin-left: 0px;
    div.welcome.col {
      // transform: translate(0px, 100px);
      // display: block;

      h4.welcome-header {
        // justify-content: center;
        text-align: center;
        color: #205fab;
        // display: none;
      }
      
      a {
        color: #205fab;
        &:hover {
          color: lightblue !important;
          text-decoration: underline;
        }
      }
      
    }
    div.display-options {
      height: fit-content;
      border: 0px;
      padding: 0px;
      form.display-form {
        .row {
          margin: 0px;
          .col {
            padding: 0px;
            label.form-label {
              div.dropdown {
                display: inline-flex;
              }
            }
          }
        }
      }
    }
    div.display {
      // display: flex;
      justify-content: center;
      background-color: rgba(lightblue, 20%);
      border: 0px;
      overflow: scroll;
      scroll-behavior: smooth;
      padding: 32px 32px 32px 32px;
      &.show {
        animation: show;
        animation-duration: 3s;
        animation-fill-mode: both;
      }
      p.show {
        animation: show-text;
        animation-duration: 2.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
      }
      @keyframes show {
        from {
          height: $min-height;
        }
        to {
          height: $height;
        }
      }
      @keyframes show-text {
        from {
          opacity: 0.0;
        }
        to {
          opacity: 1.0;
        }
      }
    }
  }
  .show-progress.row {
      height: $height;
      margin-right: 0px;
      margin-left: 0px;
      div.loading {
        align-self: center;
        div.progress {
          padding: 0px;
          height: 20px;
          animation: load;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          @keyframes load {
            from {
              width: 0%;
            }
            to {
              width: 100%;
            }
          }
        }
      }
    }
}








.ace-tm {
  background-color: rgba(#205fab, 0.1) !important;
}

// .hidden-progress {
//   display: none;
// }

// .test {
//   div.ace_content {
//     div.ace_text-layer {
//       div.ace_line {
//         span.ace_entity.ace_name.ace_function {
//           color: #205fab;
//           // &:hover {
//           //   color: #205fab !important;
//           // }
//         }
//       }
//     }
//   }
// }

// span.marked {
//   background-color: #205fab4a;
//   color: white;
// }

/*
  <span class="ace_storage ace_type">function</span>
  <span class="ace_entity ace_name ace_function">example</span>
  <span class="ace_paren ace_lparen">(</span>
*/
