.panel {
  /*
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";
  grid-column-gap: 10px;
  */
  display: inline-flex;
  border: 1px solid #000000;
  border-radius: 1em;
  justify-content: space-evenly;
  min-height: 0.5rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

div.controls {
  border: 0px;
  padding: 0px;
  justify-content: left;
  
}

form {
  display: inline-flex;
  margin: 0px;
  .row {
    display: inline-flex;
    margin: 0px;
    .col {
      display: inline-flex;
      padding: 0px;
    }
  }
}

.form-label {
  display: inline;
  padding: 0px;
  p {
    display: inline-flex;
    padding: 7px 0px 7px 0px;
    vertical-align: top;
    margin: 0px;
    font-family: inherit;
  }
}

.options {
  border: 0px;
  min-height: 10em;
}


.indicator-bar {
  display: inline-flex;
  font-family: inherit;
  margin-left: 2em;
  margin-right: 2em;
}

col {
  label.form-label {
    justify-content: safe left;
  }
}

textarea {
  /* grid-area: body; */
  font-family: inherit;
  font-size: large;
  margin: 1em;
}
