$height: 500px;
// $width: 500px;

.panel {
  /*
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-areas:
    "header header header"
    "body body body"
    "footer footer footer";
  grid-column-gap: 10px;
  */
  display: inline-flex;
  border: 1px solid #000000;
  border-radius: 1em;
  justify-content: space-evenly;
  min-height: 0.5rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

div.controls {
  border: 0px;
  padding: 0px;
  justify-content: left;
}

form {
  display: inline-flex;
  margin: 0px;
  .row {
    display: inline-flex;
    margin: 0px;
    .col {
      display: inline-flex;
      padding: 0px;
    }
  }
}

.form-label {
  display: inline;
  padding: 0px;
  p {
    display: inline-flex;
    padding: 7px 0px 7px 0px;
    vertical-align: top;
    margin: 0px;
    font-family: inherit;
  }
}


#code-input {
  width: inherit !important;
  height: $height !important;
}

div.display-options {
  display: inline-flex;
  border: 0px;
  padding: 0px;
  min-height: 2rem;
  justify-content: left;
  .row {
    display: inline-flex;
    margin: 0px;
    .col {
      display: inline-flex;
      padding: 0px;
    }
  }
}

div.display {
  display: inline-flex;
  background-color: rgba(lightblue, 20%);
  border: 0px;
  // width: $width;
  height: $height;
  overflow: scroll;
  scroll-behavior: smooth;
}

div.translation {
  span {
      &:hover {
        color: #205fab !important;
      }
  }
}

div.progress {
  padding: 0px;
  animation: load;
  animation-duration: 2s;
  animation-function: ease;
  animation-iteration-count: infinite;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hidden-progress {
  display: none;
}

// .test {
//   div.ace_content {
//     div.ace_text-layer {
//       div.ace_line {
//         span.ace_entity.ace_name.ace_function {
//           color: #205fab;
//           // &:hover {
//           //   color: #205fab !important;
//           // }
//         }
//       }
//     }
//   }
// }

span.marked {
  background-color: #205fab4a;
  color: white;
}

/*
  <span class="ace_storage ace_type">function</span>
  <span class="ace_entity ace_name ace_function">example</span>
  <span class="ace_paren ace_lparen">(</span>
*/
